.hero-section{
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1505238680356-667803448bb6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    /* height: calc(100vh - 120px); */
    height: calc(100vh - 70px);
    background-size: cover;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: top;
}
    
.hero-section .logo{
    height: 150px;
    display: block;
    margin: auto;
}

.hero-section .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: #ffffff;
    text-transform: capitalize;
    word-spacing: 7px;
    font-size: 40px;
    font-weight: 600;
}